.comment-form {
  display: flex;
}
.comment-form form {
  width: 100%;
  text-align: end;
}

.comment-form textarea {
  border: 0px;
  resize: none;
  background-color: #f9f9f9;
  border-bottom: 1px solid gray;
  margin: 10px 0px;
  width: 100%;
  font-size: 14px;
  padding: 0px;
}

.comment-form-submit {
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #065FD4;
}

.comment-form-submit:hover {
  cursor: pointer;
}

.comment-index-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.comment-dropdown {
  position: relative;
  cursor: pointer;
  align-self: flex-end;
}

.option-menu-content-comment {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  border: 1px solid #d3d3d3;
  width: 145px;
}

.option-menu-content-comment button {
  text-decoration: none;
  color: #6e6e6e;
  font-size: 14px;
  padding: 5px 8px;
  text-align: left;
  background-color: whitesmoke;
}

.option-menu-content-comment button:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.comment-user-info {
  display: flex;
  width: 100%;
}

.comment-user-info textarea {
  border: 0px;
  resize: none;
  background-color: #f9f9f9;
  border-bottom: 1px solid gray;
  margin: 10px 0px;
  width: 100%;
  font-size: 14px;
  padding: 0px;
}

.comment-update-submit {
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #065FD4;
  height: 40px;
  width: 180px;
  align-self: flex-end;
}

.comment-text {
  align-self: center;
  width: 100%;
}