// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;
  background-color: #30007b;
  height: 60px;
  padding: auto;
}

.navbar h1 {
  position: relative;
  margin: 0;
  top: 6px;
  left: 5px;
}

.current-user {
  position: relative;
  background-color: #30007b;
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
  height: 30px;
  top: 10px;
  color: #ccc58a;
}

.no-current-user {
  position: relative;
  top: 16px;
}

.no-current-user a {
  padding: 10px;
  text-decoration: none;
  color: black;
  margin: 5px;
  border-radius: 5px;
  background-color: #30007b;
  font-size: 16px;
  font-weight: 600;
  color: #ccc58a;
}

.session-form {
  display: flex;
  width: 450px;
  margin: 100px auto;
  flex-direction: column;
  border: 1px solid #9E9E9E;
  border-radius: 10px;
  padding: 20px;
  background-color: #30007b;
  box-shadow: 0px 0px 12px 0px darkgrey;
  color: #ccc58a;
}

.session-form form{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.session-form label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: start;
  font-size: 20px;
}

.session-form h3 {
  text-align: center;
  font-size: 24px;
  padding: 30px;
  padding-top: 45px;
  padding-bottom: 20px;

}

.redirect_link {
  text-decoration: none;
  color: gray;
  border: 1px solid #9E9E9E;
  width: fit-content;
  padding: 5px;
  font-weight: 600;
}

.login-inputs {
  border-radius: 3px;
  margin-top: 10px;
  height: 30px;
  font-size: 20px;
}

.signup-login {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.signup-login-buttons {
  text-decoration: none;
  color: gray;
  border: 1px solid #9E9E9E;
  padding: 9px 12px;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  color: #30007b;
  background-color: #ccc58a;
  border-radius: 4px;
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdownbtn {
  position: relative;
  top: 13px;
  right: 18px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 600;
  color: #30007b;
}

.dropdown-content {
  display: none;
};

.show{
  display: flex;
  position: absolute;
  background-color: #ccc58a;
  min-width: fit-content;
  box-shadow: 0px 0px 6px 0px darkgray;
  right: 10px;
  top: 69px;
  height: 50px;
  padding: 0 10px;
};

.logo-nav {
  width: 75px;
  height: -webkit-fill-available;
}

.logo-session-form {
  height: 125px;
  width: 150px;
  align-self: center;
}