// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
  background-color: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;
  background-color: #ffffff;
  height: 60px;
  position: fixed;
  overflow: hidden;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.navbar h1 {
  position: relative;
  margin: 0;
  top: 6px;
  left: 5px;
}

.video-nav {
  right: 220px;
  top: 13px;
}

.nav-options {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.nav-options svg {
  font-size: 25px;
  color: #808080;
}

.current-user {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  top: 10px;
  color: #065FD4;
  border: 0px;
}

.current-user:hover {
  background-color: #065FD4;
  color: white;
}

.no-current-user {
  
}

.no-current-user a {
  padding: 5px 15px;
  text-decoration: none;
  margin: 5px;
  border: 1px solid #065fd4;
  background-color: white;
  font-size: 16px;
  color: #065FD4;
}

.session-form {
  display: flex;
  width: 450px;
  margin: 100px auto;
  flex-direction: column;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

.session-form form{
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: #065fd4;
}

.session-form label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.session-form h3 {
  text-align: center;
  font-size: 24px;
  padding: 30px;
  padding-top: 35px;
  padding-bottom: 20px;
  font-weight: lighter;
}

.redirect_link {
  text-decoration: none;
  color: gray;
  border: 1px solid #9E9E9E;
  width: fit-content;
  padding: 5px;
  font-weight: 600;
}

.login-inputs {
  margin-top: 10px;
  height: 40px;
  font-size: 20px;
  padding: 0px 10px;
  border: 1px solid #065fd4;
}

.signup-login {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.signup-login-button {
  padding: 9px 25px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #065fd4;
  border-radius: 4px;
}

.guest-login-button {
  border: 1px;
  font-size: 16px;
  font-weight: 600;
  color: #065fd4;
}

.guest-login-button:hover {
  cursor: default;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdownbtn {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 600;
  color: #065fd4;
  margin-left: 30px;
}

.dropdown-content {
  display: none;
}

#session-state {
  display: flex;
  position: fixed;
  box-shadow: 0px 0px 6px 0px darkgrey;
  right: 8px;
  top: 60px;
  height: 50px;
  padding: 0 10px;
  background-color: white;
}

.logo-nav {
  width: 75px;
}

.logo-session-form {
  height: 145px;
  width: 150px;
  align-self: center;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.vsc-controller {
  display: none;
}