// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  background-color: #1b5e2091;
  height: 50px;
  padding: auto;
}

.navbar h1 {
  position: relative;
}

.current_user {
  position: relative;
  background-color: #1b5e207a;
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
}

.no_current_user {
  position: relative;
  right: 5px;
  top: 16px;
}

.no_current_user a {
  padding: 10px;
  text-decoration: none;
  color: black;
  margin: 5px;
  border-radius: 5px;
  background-color: #1b5e207a;
  font-size: 16px;
  font-weight: 600;
}

.session_form {
  display: flex;
  width: 450px;
  height: 500px;
  margin: 100px auto;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.session_form form{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.session_form label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.session_form h3 {
  text-align: center;
}

.session_form > a {
  text-align: center;
  text-decoration: none;
  color: gray;
  border: 1px solid gray;
  width: fit-content;
  position: relative;
  left: 195px;
  padding: 5px;
}

.session_form label > input {
  border-radius: 5px;
  margin-top: 5px;
}

form > input[type='submit'] {
  text-align: center;
  text-decoration: none;
  color: gray;
  border: 1px solid gray;
  width: fit-content;
  position: relative;
  left: 195px;
  padding: 5px;
}